table {
    border: 1px solid black;        
}

td {
    width: 35px;
    height: 35px;
    border-left: 2px solid white;
    border-top: 2px solid white;        
}

table td:first-child {
    border-left: 0;
}

table tr:first-child td {
    border-top: 0;
}

.dark-orange {
    background-color: #ff7100;
}

.light-orange {
    background-color: #ffb26d;
}

.brown {
    background-color: #a84a00;
}