table {
    border: 1px solid black; 
    border-spacing: 0px;       
}

td {
    width: 35px;
    height: 35px;
}

table td:first-child {
    border-left: 3px solid #e67f7e; 
}

table td:first-child.rose {
    border-left: 3px solid #d83e3b;    
}

table tr:first-child td {
    border-top: 2px solid #d83e3b;
}

table tr:first-child td.white {
    border-top: 2px solid #e67f7e;
}

table tr:last-child td {
    border-bottom: 2px solid #e67f7e;
}

table tr:last-child td.rose {
    border-bottom: 2px solid #d83e3b;
}

.white {
    background-color: white;
}

.rose {
    background-color: #e67f7e;
}

.red {
    background-color: #d83e3b;
}