table {
    border: 1px solid black; 
    border-spacing: 0px;       
}

.first-line {    
    width: 0; 
    height: 0;     
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    border-right: 60px solid #49a6a7;
    border-left: 60px solid #a749a8;
}

.first-line.half {    
    width: 0; 
    height: 0;     
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    border-right: 0px solid #49a6a7;
    border-left: 60px solid #a749a8;
}

.first-line.top.first {    
    width: 0; 
    height: 0;     
    border-top: 0px solid transparent;
    border-bottom: 60px solid transparent;
    border-right: 60px solid #ff4b47;
    border-left: 0px solid #a749a8;
}

.first-line.top.second {    
    width: 0; 
    height: 0;     
    border-top: 0px solid transparent;
    border-bottom: 60px solid transparent;
    border-right: 0px solid #49a6a7;
    border-left: 60px solid #a9ddf2;    
}

.second-line {
    width: 0; 
    height: 0;     
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    border-right: 60px solid #ff4b47;
    border-left: 60px solid #a9ddf2;
}

.second-line.half {
    width: 0; 
    height: 0;     
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    border-right: 0px solid #ff4b47;
    border-left: 60px solid #a9ddf2;
}

.second-line.top.first {    
    width: 0; 
    height: 0;     
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    border-right: 60px solid #ffc140;
    border-left: 0px solid #ffe53a;    
}

.second-line.top.second {    
    width: 0; 
    height: 0;     
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;    
    border-right: 0px solid #ffc140;
    border-left: 60px solid #ffe53a;    
}

.third-line {
    width: 0; 
    height: 0;     
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    border-right: 60px solid #ffc140;
    border-left: 60px solid #ffe53a;
}

.third-line.half {
    width: 0; 
    height: 0;     
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    border-right: 0px solid #ffc140;
    border-left: 60px solid #ffe53a;
}

.third-line.top.first {
    width: 0; 
    height: 0;     
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    border-right: 60px solid #49a6a7;
    border-left: 0px solid #a749a8;
}

.third-line.top.second {
    width: 0; 
    height: 0;     
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    border-right: 0px solid #49a6a7;
    border-left: 60px solid #a749a8;
}

.fourth-line {
    width: 0; 
    height: 0;     
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    border-right: 60px solid #ffc140;
    border-left: 60px solid #ffe53a;
}

.fourth-line.half {
    width: 0; 
    height: 0;     
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    border-right: 0px solid #ffc140;
    border-left: 60px solid #ffe53a;
}

.fourth-line.top.first {
    width: 0; 
    height: 0;     
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    border-right: 60px solid #ff4b47;
    border-left: 0px solid #a9ddf2;
}

.fourth-line.top.second {
    width: 0; 
    height: 0;     
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    border-right: 0px solid #ff4b47;
    border-left: 60px solid #a9ddf2;
}

.fifth-line.bot.first {
    width: 0; 
    height: 0;     
    border-top: 60px solid transparent;
    border-bottom: 0px solid transparent; 
    border-right: 60px solid #ffc140;
    border-left: 0px solid #ffe53a;
}

.fifth-line.bot.second {
    width: 0; 
    height: 0;     
    border-top: 60px solid transparent;
    border-bottom: 0px solid transparent;    
    border-right: 0px solid #ffc140;
    border-left: 60px solid #ffe53a;
}

.top-1 {
    position: absolute;
    top: 9px;
}

.top-2 {
    position: absolute;
    top: 9px;
    left: 131px;
}

.top-3 {
    position: absolute;
    top: 9px;
    left: 251px;
}

.top-4 {
    position: absolute;
    top: 9px;
    left: 375px;
}

.top-2-1 {
    position: absolute;
    top: 70px;
}

.top-2-2 {
    position: absolute;
    top: 70px;
    left: 130px
}

.top-2-3 {
    position: absolute;
    top: 70px;
    left: 251px;
}

.top-2-4 {
    position: absolute;
    top: 70px;
    left: 375px;
}

.top-3-1 {
    position: absolute;
    top: 192px;
}

.top-3-2 {
    position: absolute;
    top: 192px;
    left: 130px
}

.top-3-3 {
    position: absolute;
    top: 192px;
    left: 251px;
}

.top-3-4 {
    position: absolute;
    top: 192px;
    left: 375px;
}

.top-4-1 {
    position: absolute;
    top: 314px;
}

.top-4-2 {
    position: absolute;
    top: 314px;
    left: 130px
}

.top-4-3 {
    position: absolute;
    top: 314px;
    left: 251px;
}

.top-4-4 {
    position: absolute;
    top: 314px;
    left: 375px;
}

.bot-1-1 {
    position: absolute;
    top: 435px;
}

.bot-1-2 {
    position: absolute;
    top: 435px;
    left: 130px
}

.bot-1-3 {
    position: absolute;
    top: 435px;
    left: 251px;
}

.bot-1-4 {
    position: absolute;
    top: 435px;
    left: 375px;
}